*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family:  lato;
   font-size: 10px;

}

header{
   height: 100vh;
   position: relative;
   background-image: linear-gradient(to right, rgba(4,136,64,0.85), rgba(54,72,231,0.8 )), url('../img/gskl.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center ;
   color: #fff;
   clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

#menu{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between ;
   padding: 20px;
}

.logo{
   font-size: 2rem;
   font-weight: bold;
   text-transform: uppercase;

}

.navbar{
   list-style: none;
   display: flex;
}

.navbar > li > a{

   display: block;
   padding: 0px 20px;
   font-size: 1.2rem;
   font-weight: bold;
   text-transform: uppercase;
   text-decoration: none;
   color: #333333;
   color: #fff;

}

.header-text{
   position: absolute;
   top: 50% ;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}


.header-text h1{
   font-size: 4rem;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 1.1rem;
}

.header-text  p{
   font-size: 1.2rem;
   font-weight: 300;

   margin-bottom: 2rem;
     
}

.header-text a{
   display: inline-block;
   padding: 1.2rem 6rem;
   font-size: 1.5rem;
   text-decoration: none;
   font-weight: bold;
   text-transform: uppercase;
   color: #323232;
   background-color: #fff;
   border-radius: 10rem;
}

.button:hover{
   color: #fff;
   background: #000;
}